.boton-menu {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-around;
    height: 40vw;
    width: 4.5vw;
    position: relative;
    transition: all 0.6s ease;
}
.boton-menu:hover {
    width: 11.5vw;
    transform: scale(1.05);
}
/* Botón individual con layout horizontal */
.boton-menu div {
    display: flex;
    flex-direction: row; /* ← cambio clave: horizontal */
    align-items: center;
    text-align: left;
    margin-top: 0.5vw;
    font-size: 1.18vw;
    width: 4vw;
    overflow: hidden; /* ocultar texto cuando no se hace hover */
    transition: all 0.6s ease;
    border-radius: 0.5vw;
    padding: 0.3vw;
}

/* Estilo al hacer hover */
.boton-menu div:hover{
    width: 10vw;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
    background-color: rgba(0, 0, 255, 0.05);
    border-bottom: 1px solid blue;
}

/* Mostrar el texto al hacer hover */
.boton-menu div:hover .texto{
    opacity: 1;
    width: 9.5vw;
}

/* Imagen */
.boton-menu img {
    width: 3vw;
    transition: transform 0.4s;
}

/* Texto a la derecha de la imagen */
.texto {
    margin-left: 0.4vw;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.6s ease;
}


label {
    background-color: #f4f7fa;
    padding-left: 10px;
}

label:hover {
    padding-left: 15px;
    padding-top: 40px;
}