<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre Diario de Ventas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/estilos_globales/bustra_mind.css">
    <link rel="stylesheet" href="static/css/estilos_globales/sweet_alerta2.css">
    <link rel="stylesheet" href="static/css/style_cierre_dia.css">
    <link rel="stylesheet" href="/static/css/menu-global.css" />
    <script type="module" src="/static/js/cargarDeafaul/cargar.js" defer></script>

</head>
<body>
    
    <div class="container py-4">
        <div class="dashboard-card">
            <div class="card-header-gradient">
                <div class="floating-action">
                    <button class="action-button" onclick="imprimirResumen()" title="Imprimir">
                        <i class="fas fa-print"></i>
                    </button>
                    <button class="action-button" onclick="guardarResumen()" title="Guardar">
                        <i class="fas fa-save"></i>
                    </button>
                </div>
                <h2 class="m-0">
                    <i class="fas fa-cash-register me-2"></i>
                    Cierre Diario de Ventas
                </h2>
            </div>

            <div class="stats-container" id="dynamicStats">
                <!-- Las tarjetas se generarán dinámicamente aquí -->
            </div>
            
            <div class="table-container">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>ID Venta</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Metodo de pago</th>
                            
                        </tr>
                    </thead>
                    <tbody id="ventasTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="loadingOverlay" class="loading-overlay" style="display: none;">
        <div class="spinner"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script_globales/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script_globales/sweet_alert2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cierre_dia/cierre_de_dia.js') }}"></script>
    <script src="/static/js/home.js"></script>

</body>
</html>