<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi primera pagina</title>
    <link rel="stylesheet" href="/static/css/clase.css">
</head>

<body>
    <header>
        <img class="logo"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png"
            alt="logo">
        <nav>
            <ul>
                <li><a href="#pokemones">Pokemones</a></li>
                <li><a href="#historia">Historia</a></li>
                <li><a href="#liga">Liga</a></li>
            </ul>
        </nav>
        <div class="contenedor-usuario">
            <h3>Usuario</h3>
            <img class="usuario" src="https://i.pinimg.com/736x/76/f5/ac/76f5ac557403a16dee8e80845156db95.jpg"
                alt="usuario">
        </div>

    </header>
</body>

</html>