<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_globales/al_min.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>Menú Principal</h1>
        
        <div class="menu-grid">
            <!-- Botón 1: Monederos -->
            <button class="menu-button" id="monederos">
                <img src="/static/Iconos/monedero.png" class="monederos">
                <span>Monederos</span>
            </button>
            
            <!-- Botón 2: Ventas -->
            <button class="menu-button" id="ventas">
                <img src="/static/Iconos/ventas.png" class="ventas">
                <span>Ventas</span>
            </button>
            
            <!-- Botón 3: Inventario -->
            <button class="menu-button" id="inventario">
                <img src="/static/Iconos/inventario.png" class="inventario">
                <span>Inventario</span>
            </button>
            
            <!-- Botón 4: Cuentas por cobrar/pagar -->
            <button class="menu-button" id="cuentas">
                <img src="/static/Iconos/cobro.png" class="cuentas">
                <span>Cuentas por cobrar/pagar</span>
            </button>
            
            <!-- Botón 5: Personal -->
            <button class="menu-button" id="personal">
                <img src="/static/Iconos/personal.png" class="personal">
                <span>Personal</span>
            </button>
            
            <!-- Botón 6: Configuraciones -->
            <button class="menu-button" id="configuraciones">
                <img src="/static/Iconos/configuracion.png" class="configuraciones">
                <span>Configuraciones</span>
            </button>
            
            <!-- Botón 7: Empresa -->
            <button class="menu-button" id="empresa">
                <img src="/static/Iconos/empresa.png" class="empresa">
                <span>Empresa</span>
            </button>
            
            <!-- Botón 8: Informes -->
            <button class="menu-button" id="informes">
                <img src="/static/Iconos/informes.png" class="informes">
                <span>Informes</span>
            </button>
        </div>
    </div>

    <script src="/static/js/home.js"></script>
</body>
</html>