<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio de Sesión - appTiendA</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

    <section class="home">

        <div class="inicio-sesion">

            <div class="anuncio-publicidad">
                <img src="/static/img/home/flor.jpg" >
            </div>

            <h2>Iniciar Sesión</h2>

            <input type="email" placeholder="Usuario" required >
            <input type="password" placeholder="Contraseña" required>

            <button id="boton-continuar">Continuar</button>

            <div class="link">
              Si aún no tiene su código de Empresa, Solicitelo <a href="registro.html" id="boton-registro">aquí</a>
            </div>

        </div>

    </section>

</body>
</html>