<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

  <div class="caja-login">

    <div class="lado-formulario">

      <div class="iconos">
        <img src="/static/img/home/carrito.png" alt="carrito">
        <img src="/static/img/home/datafono.png" alt="datafono">
        <img src="/static/img/home/registradora.png" alt="">
      </div>
      <h2>🏠 Bienvenido</h2>
      <p>Por favor ingresa tus datos.</p>
      <input type="email" placeholder="Correo electrónico o usuario">
      <input type="password" placeholder="Contraseña">

      <div class="recordar-olvido">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
      
      <button id="boton-continuar">Iniciar sesión</button>
    </div>
    <div class="lado-imagen"></div>
  </div>
    
  <script src="/static/js/index.js"></script>
  <script src="{{ url_for('static', filename='js/cierre_dia/index.js') }}"></script>

</body>
</html>
