<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre de día</title>
    <script src="/static/js/cargarDeafaul/cargar.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/informe-cierre-dia.css">
</head>

<body>
    <div class="container">
        <header>
            
            <div class="date-info">
                <h1>CIERRE DE DIA</h1>
                <span id="fecha">Fecha: </span>
            </div>
            <div class="Usuario-info" style="justify-items: right;">
                <h1>Usuario</h1>
                <span id="cierre_dia_usuario"></span>
            </div>
        </header>
        <section class="resumen">
            <h2>Resumen General</h2>
            <div class="resumen-grid">
                <div class="card-ingresos">
                    <h3>Ingresos</h3>
                    <p id="total-ingresos">$0</p>
                </div>
                <div class="card-egresos">
                    <h3>Egresos</h3>
                    <p id="total-egresos">$0</p>
                </div>
                <div class="card-neto">
                    <h3>Total Neto</h3>
                    <p id="total-neto">$0</p>
                </div>
            </div>
            <div class="resumen-grid" id="bolsillos-resumen">
                <!-- Aquí se insertarán dinámicamente los saldos por tipo de pago -->
            </div>
            <div class="observaciones">
                <input type="text" id="observaciones" required placeholder="Cuenteme sus problemas">
                <label for="observaciones" class="label">Observaciones:</label>
                <div class="underline"></div>
            </div>
        </section>

        <section class="detalle">
            <div class="ingresos-detalle">
                <h2>Ingresos por Tipo de Pago</h2>
                <div id="tipos-pago-container" class="detalle-container panel alto-completo"></div>
            </div>

            <div class=" egresos-detalle">
                    <div class="gastos-detalle">
                        <h3>Gastos</h3>
                        <div id="gastos-container" class="detalle-container panel medio-alto"></div>
                    </div>
                    <div class="facturas-detalle">
                        <h3>Facturas</h3>
                        <div id="facturas-container" class="detalle-container panel medio-alto"></div>
                    </div>
                </div>
        </section>
        
    </div>
    <div class="container btn-cerrar">
        <button id="cierre-dia-btn">Cerrar día</button>
    </div>

    <script src="/static/js/informe-cierre-dia-copy.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Modal PDF grande -->
    <div id="modal-pdf" class="fixed inset-0 bg-black/70 z-50 hidden items-center justify-center">
        <div class="bg-white rounded-2xl shadow-xl w-full h-full relative flex flex-col overflow-hidden">
            <!-- Botón de cierre -->
            <button onclick="cerrarModalPDF()">
                &times;
            </button>
            <!-- iFrame para PDF -->
            <iframe id="iframe-pdf" class="w-full h-full border-none" allow="fullscreen" frameborder="0">
            </iframe>
        </div>
    </div>



</body>

</html>