<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proyectemos OK</title> <!-- Cambia esto por el nombre que quieras -->
    <link rel="icon" type="image/png" href="/static/Iconos/logo2.png">
    <script src="/static/js/cargarDeafaul/cargar.js" defer></script>

    <link rel="stylesheet" href="/static/css/menu-global.css">


    <link rel="icon" type="image/png" sizes="32x32" href="/static/Iconos/logo2.png">
    <link rel="apple-touch-icon" href="/static/Iconos/logo2.png">

</head>

<body class="modo-inicial">
    <!-- menu-global.html -->
    <button id="hamburger-btn" class="hamburger-btn">☰</button>
    <div for="menu-toggle" class="vista-inicial" id="cont_menu">
        <div id="casa" class="menu-item tarjeta " data-page="home">
            <img src="/static/Iconos/app.png" alt="CASA" class="casa">
            <br>
            <div class="texto"><span><b>Menu</b></span></div>
        </div>

        <div id="monederos" class="menu-item tarjeta " data-page="monederos">
            <img src="/static/Iconos/monedero.png" alt="MONEDERO">
            <br>
            <div class="texto"><span><b>Monederos</b></span></div>
        </div>

        <div id="ventas" class="menu-item tarjeta " data-page="ventas">
            <img src="/static/Iconos/ventas.png" alt="VENTAS">
            <br>
            <div class="texto"><span><b>Ventas</b></span></div>
        </div>

        <!-- <div id="servicios" class="menu-item tarjeta " data-page="servicios">
            <img src="/static/Iconos/mecanico.png" alt="SERVICIOS">
            <br>
            <div class="texto"><span><b>Servicios</b></span></div>
        </div> -->

        <div id="inventario" class="menu-item tarjeta " data-page="inventario">
            <img src="/static/Iconos/inventario.png" alt="INVENTARIO">
            <br>
            <div class="texto"><span><b>Inventario</b></span></div>
        </div>

        <!-- <div id="cuentas" class="menu-item tarjeta " data-page="cuentas">
            <img src="/static/Iconos/cobro.png" alt="COBRO">
            <br>
            <div class="texto"><span><b>CXC/CXP</b></span></div>
        </div> -->

        <div id="personal" class="menu-item tarjeta " data-page="personal">
            <img src="/static/Iconos/personal.png" alt="PERSONAL">
            <br>
            <div class="texto"><span><b>Personal</b></span></div>
        </div>

        <!-- <div id="configuraciones" class="menu-item tarjeta " data-page="configuraciones">
            <img src="/static/Iconos/configuracion.png" alt="CONFIG">
            <br>
            <div class="texto"><span><b>Ajustes</b></span></div>
        </div> -->

        <div id="empresa" class="menu-item tarjeta " data-page="empresa">
            <img src="/static/Iconos/empresa.png" alt="EMPRESA">
            <br>
            <div class="texto"><span><b>Empresa</b></span></div>
        </div>

        <div id="informes" class="menu-item tarjeta " data-page="informes">
            <img src="/static/Iconos/informes.png" alt="INFORMES">
            <br>
            <div class="texto"><span><b>Informes</b></span></div>
        </div>
        <div id="salir" class="menu-item tarjeta " data-page="informes">
            <img src="/static/Iconos/salir.png" alt="SALIR">
            <br>
            <div class="texto"><span><b>Salir</b></span></div>
        </div>

    </div>

    <iframe id="iframe-contenido" class="oculto"></iframe>

</body>
<script src="/static/js/menu-global.js" defer></script>

</html>