<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/productos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/item.css" />
    <link rel="stylesheet" href="/static/css/cotizaciones-apartar.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/estilos_new_cliente.css">
    <link rel="stylesheet" href="/static/css/pdfViewer.css">


    <script src="/static/js/cargarDeafaul/cargar.js"></script>
    <script src="/static/js/pdfViewer.js"></script>
    <script src="/static/js/plantilla_new_cliente.js" defer></script>
    <script src="/static/js/ventas/item.js" defer></script>
    <script src="/static/js/ventas/productos.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>



    <title>Vista del Producto</title>

</head>

<body>

    <div class="container">
        <!-- Sección de productos (izquierda) -->
        <div class="product-list-container">
            <input type="text" id="search-input" placeholder="Buscar productos..." />
            <div id="product-list" class="product-list"></div>
        </div>

        <!-- Sección del ticket (derecha) -->
        <div class="cont-pagos">
            <section class="ticket-section">
                <div class="ticket-container">
                    <!-- Encabezado con cliente -->
                    <div class="ticket-header">
                        <input class="inputCliente" list="clientes" id="clienteSearch" placeholder="Buscar cliente" />
                        <select class="cliente-combo" id="clienteCombo">
                            <option value="1">Cliente común</option>
                        </select>
                        <datalist id="clientes">

                        </datalist>
                        <button id="new_cliente" class="btn-new" onclick="crear_formulario_new_cliente()"><i
                                class="fas fa-user-plus fa-3x"></i></button>


                        <!-- Lista de productos -->
                        <div class="items-container" id="itemsContainer">
                            <!-- Los items se agregarán dinámicamente aquí -->
                        </div>

                        <!-- Métodos de pago -->
                    </div>
            </section>
            <section class="pagos-section">
                <div class="payment-methods">
                    <!-- Botones existentes -->
                    <div class="payment-method-group">

                    </div>
                </div>


                <!-- Total y botón de vender -->
                <div class="ticket-footer">
                    <button class="btn-btn-success" id="venderBtn">Vender <span><b>Total:</b></span>
                        <span id="totalLabel"><b>$0</b></span>
                    </button>
                    <button class="btn-aciones" id="cotizarBtn">
                        <img src="/static/Iconos/cotizaciones.png" alt="Cotizar">
                    </button>
                    <button class="btn-aciones" id="apartarBtn">
                        <img src="/static/Iconos/apartar.png" alt="Apartar">
                    </button>

                </div>
            </section>
        </div>
    </div>
    <!-- Modal para mostrar detalles del producto -->
    <div id="product-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modal-image" src="" alt="Imagen del producto"
                onerror="this.onerror=null; this.src='/static/img_productos/img.png'" />
            <h2 id="modal-name"></h2>
            <p>ID: <span id="modal-id"></span></p>
            <p>Precio: <span id="modal-price"></span></p>
            <p>Descripción: <span id="modal-description"></span></p>
        </div>
    </div>

    <div id="modalPDF" class="modal-pdf">
        <div class="modal-content-pdf">
            <span class="close-pdf" onclick="cerrarModalPDF()">&times;</span>
            <iframe id="pdfFrame" width="100%" height="90%" style="border:none;"></iframe>
        </div>
    </div>



</body>

</html>